<launch>
    <arg name="rviz_conf_file" default="$(find my_robot_simulation_control)/urdf/rviz_conf.rviz" />
    <param name="robot_description" command="xacro '$(find my_robot_simulation_control)/urdf/robot_model.xacro'" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="40.0" />
        <remap from="/joint_states" to="/cart_robot/joint_states" />
    </node> 

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_local">
        <rosparam command="load" file="$(find my_robot_simulation_control)/config/ekf_localization.yaml" />
        <remap from="/odometry/filtered" to="/odom" />
    </node>

    <include file="$(find my_robot_simulation_control)/launch/orb_slam2.launch" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!-- don't forget to select the world to run! -->
        <arg name="world_name" value="$(find my_robot_simulation_control)/worlds/inspection.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <node name="my_robot_model_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -param robot_description -model my_robot_model -x 1 -y 1 -z 0.2"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf_file)" />
    <rosparam file="$(find my_robot_simulation_control)/config/diff_control.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="up_left_wheel_controller up_right_wheel_controller down_left_wheel_controller down_right_wheel_controller joint_state_controller --timeout 60" ns="cart_robot"/>

    <node name="cart_robot_control" pkg="my_robot_simulation_control" type="cart_robot_control.py" ns="cart_robot"/>

</launch>