<launch>
    <arg name="rviz_conf_file" default="$(find cart_robot)/urdf/rviz_conf.rviz" />
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <rosparam file="$(find cart_robot)/config/usb_cam.yaml" command="load" />
        <rosparam file="$(find cart_robot)/config/camera_check.yaml" command="load" subst_value="true"/>
    </node>
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/usb_cam/image_raw"/>
        <param name="autosize" value="true" />
    </node>
    <node name="rplidarNode" pkg="rplidar_ros"  type="rplidarNode" output="screen">
        <rosparam file="$(find cart_robot)/config/rplidar.yaml" command="load" />
    </node>
    <node name="orb_slam2_mono" pkg="orb_slam2_ros" type="orb_slam2_ros_mono">
        <rosparam command="load" subst_value="true" file="$(find cart_robot)/config/orb_slam2.yaml"/>
        <remap from="/camera/image_raw" to="/usb_cam/image_raw" />
        <remap from="/camera/camera_info" to="/usb_cam/camera_info" />
    </node>
    <node name="octomap" pkg="octomap_server" type="octomap_server_node">
        <param name="frame_id" value="map"/>
        <param name="resolution" value=".01"/>
        <remap from="/cloud_in" to="/orb_slam2_mono/map_points"/>
    </node>
    <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf_file)" />-->
    <node name="aruco_control" pkg="cart_robot" type="aruco_control_loop.py" ns="cart_robot"/>
</launch>